.wc-block-components-product-name {
	font-size: 1.2rem !important;
	text-transform: uppercase;
	font-weight: bold !important;
	color: $velvet !important;
	text-decoration: none;
	transition: color 0.2s ease;
	&:hover {
		color: darken($velvet, 15%);
	}
}
.wc-block-components-product-price {
	font-weight: 700;
}
.wc-block-cart-item__product {
	.wc-block-components-sale-badge,
	.wc-block-components-product-metadata {
		display: none;
	}
}
.wc-block-cart-item__total {
	.wc-block-components-sale-badge {
		background-color: $bloom;
	}
}
.wc-block-components-product-metadata__description {
	display: none;
}
.wp-block-woocommerce-checkout-order-summary-block,
.wp-block-woocommerce-checkout-order-summary-block {
	border-color: $velvet !important;
}
.wc-block-components-checkout-return-to-cart-button,
.wc-block-components-checkout-return-to-cart-button {
	@extend .btn, .btn-velvet, .text-white;
}
