.wc-block-cart__main .wc-block-cart-items td,
.wc-block-components-totals-wrapper {
	border-top: 1px solid rgba($velvet, 0.5) !important;
}

.wc-block-components-product-name {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: $velvet;
	text-decoration: none;
	transition: color 0.2s ease;
	&:hover {
		color: darken($velvet, 15%);
	}
}
.wc-block-components-product-price {
	font-weight: 700;
}
.wc-block-cart-item__product {
	.wc-block-components-sale-badge,
	.wc-block-components-product-metadata {
		display: none;
	}
}
.wc-block-cart-item__total {
	.wc-block-components-sale-badge {
		background-color: $bloom;
	}
}
.wc-block-cart__submit-button,
.wc-block-components-checkout-place-order-button {
	transition: all 0.2s ease !important;
	@extend .view-all-link;
}
.wc-block-components-totals-coupon__content {
	button[type="submit"] {
		@extend .btn, .btn-velvet;
		border: 1px solid $velvet !important;
	}
}
.wc-block-components-totals-coupon__form {
	gap: 0 !important;
}
.wc-block-components-text-input {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="tel"],
	input[type="number"],
	textarea {
		outline: none !important;
		border: 1px solid $velvet !important;
		border-radius: 0 !important;
		&:focus {
			border: 2px solid $velvet !important;
		}
	}
}
.wc-block-components-address-form {
	select {
		outline: none !important;
		border: 1px solid $velvet !important;
		border-radius: 0 !important;
		&:focus {
			border: 2px solid $velvet !important;
		}
	}
}
